
.ant-cascader-menus {
  z-index: 999;
}

.query-terms {
  .ant-spin-text {
    display: inline-block;
    margin-left: 10px;
  }
  .ant-form-item.ant-form-item-with-help {
    margin-bottom: 3px;
  }
  .ant-form-item {
    margin-bottom: 10px;
  }
  .ant-time-picker {
    & > input {
      width: 100%;
    }
  }
  .form-item-radio-button {
    margin-bottom: 10px;
  }
  .ant-btn {
    border-radius: 3px;
    i {
      transition: transform 300ms;
    }
    i.fa-angle-double-down {
      transform: rotate(0);
    }
  }
  .ant-btn.expanded {
    i.fa-angle-double-down {
      transform: rotate(180deg);
    }
  }
  .ant-radio-button {
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    &.ant-radio-button-checked {
      background-color: #2db7f5;
      border-color: #2db7f5;
      color: #fff;
    }
    &:first-child,
    &:last-child {
      border-radius: 3px;
    }
  }
  .query-terms-label {
    float: left;
    padding-top: 7px;
    text-align: right;
  }
  .radio-btn-label,
  .checkbox-btn-item {
    .query-terms-label {
      padding-top: 0;
    }
  }
  .query-terms-item {
    display: inline-block;
  }
  .query-terms-item-label {
    cursor: pointer;
    margin-right: 10px;
  }
  .check {
    display: inline-block;
    margin-right: 10px;
  }
  .area-item,
  .area-split {
    float: left;
    display: inline-block;
  }
  .area-split {
    margin-top: 6px;
    text-align: center;
  }
  .checkbox-btn {
    height: 32px;
    line-height: 30px;
    //margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    background: #fff;
    padding: 0 16px;
    color: #666;
    display: inline-block;
    transition: all .3s ease;
    cursor: pointer;
    font-size: 12px;
    &:hover {
      color: #2db7f5;
      position: relative;
    }
    &.checkbox-btn-checked {
      background-color: #2db7f5;
      border-color: #2db7f5;
      color: #fff;
    }
  }
}