.query-terms {
  .ant-form-item.ant-form-item-with-help {
    margin-bottom: 3px;
  }
  .ant-form-item {
    margin-bottom: 10px;
  }
  .query-terms-label {
    float: left;
    padding-top: 7px;
    text-align: right;
  }
  .query-terms-item {
    display: inline-block;
  }
}